/* todo: write basic style for MVP
  should separate info into two columns on desktop
  should separate info into two expandable blocks on mobile
  no need for color scheme yet
  make sure the style adjusts properly
*/

* {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  height: auto;
  background-color: #D4621C;
  padding: 10px;
}

input, button {
  border: 1px solid #913700;
  border-radius: 2px;
}

main {
  height: 74vmax;
  display: flex;
  flex-direction: column;
  position: relative;
}

h1 {
  font-size: 1.2em;
  margin: 0;
}

h2 {
  font-size: 1.1em;
  margin: 0;
}

ul {
  margin: 0;
}

.container {
  border: 3px solid #913700;
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
}

.focused {
  height: 58vmax;
  overflow: scroll;
}

.unfocused {
  height: 16vmax;
  overflow-y: hidden;
}

.default {
  overflow-y: hidden;
  height: 37vmax;
}

.hidden {
  display: none;
  height: 0;
}

.container > ul {
  list-style-type: none;
  padding: 5px;
}

.container ul > li {
  margin: 5px;
  border-top: 1px solid #913700;
  padding: 5px;
}

ol.ingred {
  display: block;
  margin-left: auto;
  margin-right: auto;
  list-style-type: decimal;
  width: fit-content;
}

.ingred li {
  text-align: left;
}

.searchbutton {
  background-color: #E38348;
}

.searchbutton:hover {
  background-color: #6B2900;
  color: #BABABA;
  border: 1px solid #FEA772;
}

@media screen and (min-width: 650px) {

  main {
    flex-direction: row;
    height: 74vmin;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

  .default, .focused, .unfocused {
    height: 100%;
  }

  .default {
    width: 50%;
  }  

  .unfocused {
    width: 20%;
  }

  .focused {
    width: 80%;
  }

  .instructions {
    height: 6.21em;
  }

}
