/* todo: write basic style for MVP
  should separate info into two columns on desktop
  should separate info into two expandable blocks on mobile
  make sure OLs containing ingredients are centered with LIs that are left-aligned
  no need for color scheme yet
  make sure the style adjusts properly
*/

* {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  box-sizing: border-box;
}

.container {
  border: 5px solid black;
  margin: 5px;
  padding: 5px;
}

.focused {
  height: 100%;
  overflow: auto;
}

.unfocused {
  height: 10%;
  overflow: clip;
}

.default {
  overflow: clip;
  max-height: 50%;
}

.hidden {
  display: none;
}

.container ul {
  list-style-type: none;
  padding: 5px;
}

.container ul li {
  margin: 5px;
}