/* todo: write basic style for MVP
  should separate info into two columns on desktop
  should separate info into two expandable blocks on mobile
  no need for color scheme yet
  make sure the style adjusts properly
*/

* {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  box-sizing: border-box;
}

header {
  height: 17vmax;
}

main {
  height: 70vmax;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 5vmax;
}

h1 {
  font-size: 1.2em;
}

h2 {
  font-size: 1.1em;
  margin: 0;
}

ul {
  margin: 0;
}

.container {
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
}

.focused {
  height: 55vmax;
  overflow: scroll;
}

.unfocused {
  height: 15vmax;
  overflow-y: hidden;
}

.default {
  overflow-y: hidden;
  height: 35vmax;
}

.hidden {
  display: none;
  height: 0;
}

.container > ul {
  list-style-type: none;
  padding: 5px;
}

.container ul > li {
  margin: 5px;
  border-top: 1px solid black;
  padding: 5px;
}

ol.ingred {
  display: block;
  margin-left: auto;
  margin-right: auto;
  list-style-type: decimal;
  width: fit-content;
}

.ingred li {
  text-align: left;
}

@media screen and (min-width: 600px) {

  header {
    height: 17vmin;
  }

  main {
    flex-direction: row;
    height: 70vmin;
    position: static;
    max-width: 1000px;
  }

  .default, .focused, .unfocused {
    height: 100%;
  }

  .default {
    width: 50%;
  }  

  .unfocused {
    width: 20%;
  }

  .focused {
    width: 80%;
  }

}
